body {
  background-color: rgb(243, 230, 216);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

}

.recipe-container {
  background-color: white;
  width: 580px;
  border-radius: 30px;
}
.omelette-image {
  width: 100%;
  border-radius: 20px;
}
.heading,
.description {  
  color: hsl(24, 5%, 18%);
}
.heading {
  font-family: Young Serif;
  margin-top: 10px;
  margin-bottom: 0px;
}
.description {
  font-family: Outfit;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}
.preparation-container {
  background-color: hsl(330, 100%, 98%);
  height: 150px;
  border-style: none;
  font-family: Outfit;
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 30px;
}
.preparation-list {
  line-height: 30px;
  margin-top: 0;
}
.preparation-heading {
  margin-bottom: 10px;
  color: hsl(332, 51%, 32%);
  font-weight: 700;
}
ul, 
ul li,
ol,
ol li{
  padding-left: 18px;
}

ol li{
  padding-bottom: 5px;
}

ul li::marker,
ol li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients-heading,
.instructions-heading,
.nutritions-heading {
  color: hsl(14, 45%, 36%);
  font-family: Young Serif;
  margin-bottom: 0;
}

.ingredients-list {
  margin-top: 10px;
  line-height: 30px;
  margin-bottom: 25px;
}

hr {
  border: 1px hsl(30, 18%, 87%) solid;
  margin-bottom: 20px;
}

.instructions-list {
  line-height: 24px;
  margin-bottom: 30px;
}
.preparation-list,
.ingredients-list,
.instructions-list,
.nutritions-description,
td:nth-child(1) {
  color: hsl(30, 10%, 34%);
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 10px 30px;
}
td:nth-child(2) {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
.container {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-top: 0;
}
.image-container {
  padding: 20px;
  margin-bottom: 0;
}

@media (max-width:768px) {
  .image-container {
    padding: 0;
  }
  .container {
    padding: 20px;
  }
  .omelette-image {
    width: 100%;
    border-radius: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }
  }

